{% extends 'base.html' %}

{% block title %}
    <title>Delete Page</title>
{% endblock %}

{% block nav_list %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'category:category_list' %}">Category <span
                class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block content %}
    <div style="margin-top: 80px">
        <h1>Delete Details</h1>
        <form method="post">

            {% csrf_token %}
            Are you sure you want to delete "{{ data.name }}" ?
            <input type="submit" value="Submit"/>

        </form>
    </div>
{% endblock %}

{% block contact %}
{% endblock %}

{% block footer %}
{% endblock %}
